.texts{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.flex{
    background-color: rgba(250, 235, 215, 0.767);
    border-radius: 20px;
    box-shadow: 1px 1px 2px black;
    width: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: rgb(183, 109, 12);
    font-family: Parkavenue, cursive;
    text-shadow: 1px 1px 2px black;
    margin-top: 180px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.color:hover{
    color: blue;
}
.navbar{
    display: flex;
    width: 100%;
    backdrop-filter: blur(8px);
    border-bottom: 2px solid rgb(183, 109, 12);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
h3{
    color: rgb(183, 109, 12);
}
.link{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    font-family: Parkavenue, cursive;  
}
.button{
    cursor: pointer;
    color: rgb(209, 168, 32);
    border-color: rgb(209, 168, 32);
    transition: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.button:hover{
    background-color:rgb(209, 168, 32);
    color: black;
}
.listTemp{
    font-family: Parkavenue, cursive;
    border: 2px solid rgb(209, 168, 32);
    border-radius: .25rem;
    padding: 3px;
    color:rgba(209, 168, 32, 0.821);
    font-size: 1.2rem !important;
    margin: 10px;
    text-shadow: none;
    background: transparent;
}
.listTemp:hover{
    background-color: red;
    border: 2px solid white;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.allTemps{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}
.buttonHome{
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    color: rgb(183, 109, 12);
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 0.3rem;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.25rem;
    line-height: inherit;
    border-radius: 10px;
    border-color: rgb(183, 109, 12);
}
.buttonHome:hover{
    background-color:rgb(183, 109, 12);
     color: black;
     cursor: pointer;
}