.flexs{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
    width: 90vh;
    height: 90vh;
    border: 2px solid rgb(209, 207, 207);
    border-radius: 20px;
    align-items: center;
    background-color: antiquewhite;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 30px;
    font-family: Parkavenue, cursive;
    font-size:1.4rem;
    text-shadow: 1px 1px 2px black;
}
.img{
    width: 50vh;
    height: 40vh;
    border-radius: 10px;
}
.bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}
.show{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    height: 10%;
}
.margin{
    margin-left: 5px;
}
.navbar{
    display: flex;
    width: 100%;
    background-color:#212529;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

h3{
    color: rgb(209, 168, 32)
}

.send{
    font-family: Parkavenue, cursive;
    color: rgb(209, 168, 32);
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;  
}

.color:hover{
    color: blue;
}

.nam{
    display: block;
    font-size: 1.17em;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}