.text{
    
    font-family: Parkavenue, cursive;
    font-size: 13vh;
    text-shadow: 1px 1px 2px black;
    background-color: antiquewhite;
    width: 90vh;
    margin-top: 70px;
    margin-left: 450px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px black;
}
.text:hover{
    color: black;
}
.link{
    color: rgb(209, 168, 32);
    outline: none;
    text-decoration: none;
}

body{
    background-image: url('https://img.freepik.com/vector-gratis/marco-vector-perros-sobre-fondo-blanco_53876-127700.jpg?w=2000');
    background-size: cover;
}

.image{
    width:60vh;
    height:60vh;
    border-radius: 20px;
    top:0px;
}